<ion-view view-title="Dashboard" style="background: url(img/canal_blue.jpg); background-size: 100% 100%;">
  <ion-content>
    <h2>Meet Me In {{travelInfo.country}}</h2>

    
    <label class="item item-input">
      <span class="input-label">Location</span>
      <input ng-change="autoCompleteYourLocation()" ng-model="travelInfo.yourLocation" type="text">
      <div style="background: #B0B0B0; padding: 6px;">
        <span ng-repeat="destination in travelInfo.yourFilteredLocations">
          {{desintation.iata}} - {{destination.publicName.english}}
        </span>
      </div>
    </label>

    <label class="item item-input">
      <span class="input-label">Friend's Location</span>
      <input ng-model="travelInfo.friendLocation" type="text">
    </label>

    <button ion-button full outline ng-click="getAllFlights();">Get Flights!</button>
    
    <h4>Here's how you can meet in Amsterdam!</h4>
    <div ng-repeat="flight in travelInfo.eligibleFlights">
      <span>{{flight.flightName}} - {{flight.scheduleDate}}</span>
      <span>{{flight.terminal}}</span>
      <span ng-repeat="destination in flight.route.destinations">{{destination}}</span>
    </div>
  </ion-content>
</ion-view>
