<ion-view view-title="Dashboard" style="background: url(img/canal_blue.jpg); background-size: 100% 100%;">
  <ion-content>
    <h2>Meet Me In {{travelInfo.country}}</h2>

    <!-- Meta info -->
    <div class="row">
      <round-progress
        ng-click="getDestinations();"
        max="metaInfo.destinations.total"
        current="metaInfo.destinations.fetched"
        color="#45ccce"
        bgcolor="#eaeaea"
        radius="15"
        stroke="2"
        semi="false"
        rounded="true"
        clockwise="false"
        responsive="false"
        duration="800"
        animation="easeInOutQuart"
        animation-delay="0">    
      </round-progress>
      <!-- <span> {{metaInfo.destinations.fetched}} / {{ metaInfo.destinations.total}} </span> -->
    </div>

    <!-- Your Location -->
    <label class="item item-input">
      <span class="input-label">Location</span>
      <input ng-change="autoCompleteYourLocation()" ng-model="travelInfo.yourLocation" type="text">
    </label>
    <div style="background: #B0B0B0; padding: 6px;" ng-show="travelInfo.yourFilteredLocations.length > 0">
      <span ng-repeat="destination in travelInfo.yourFilteredLocations" ng-click="saveYourLocation(destination);">
        <span>
          {{destination.iata}} - {{destination.publicName.english}}
        </span>
        <br/>
      </span>
    </div>

    <!-- Your Friend's Location -->
    <label class="item item-input">
      <span class="input-label">Friend's Location</span>
      <input ng-change="autoCompleteFriendLocation()" ng-model="travelInfo.friendLocation" type="text">
    </label>
    <div style="background: #B0B0B0; padding: 6px;" ng-show="travelInfo.friendFilteredLocations.length > 0">
      <span ng-repeat="destination in travelInfo.friendFilteredLocations" ng-click="saveFriendLocation(destination);">
        <span>
          {{destination.iata}} - {{destination.publicName.english}}
        </span>
        <br/>
      </span>
    </div>

    <!-- Date you're trying to meet up -->
    <label class="item item-input">
      <span class="input-label">Meeting Date</span>
      <input ng-model="travelInfo.arrivalDate" type="date">
    </label>

    <!-- Go! -->
    <button ion-button full outline ng-click="getEligibleFlights();">Get Flights!</button>

    <!-- Results -->
    <div class="row" ng-show="(travelInfo.yourEligibleFlights.length > 0) && travelInfo.friendEligibleFlights.length > 0">
      <h4 style="color: white;">Here's how you can meet in Amsterdam!</h4>
    </div>
    <!-- Your Results-->
    <div class="row" style="background:rgba(255,255,255,0.5);" ng-show="travelInfo.yourEligibleFlights.length > 0">
      <div style="width: 50%;">
        <span>Your Flights</span>
        <div ng-repeat="flight in travelInfo.yourEligibleFlights">
          <span class="row">{{flight.prefixICAO}} - {{flight.flightNumber}}</span>
          <span class="row">{{flight.scheduleTime}}</span>
        </div>
      </div>

      <!-- Friend Results-->
      <div style="width: 50%;" ng-show="travelInfo.friendEligibleFlights.length > 0">
        <span>Friend Flights</span>
        <div ng-repeat="flight in travelInfo.friendEligibleFlights">
          <span class="row">{{flight.prefixICAO}} - {{flight.flightNumber}}</span>
          <span class="row">{{flight.scheduleTime}}</span>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
